body {
    background-color: #c6ffff;
    color: #2ca9e1;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
} 
button {
    padding:5px 20px;
    background-color: #afeeee;
    color: #00a3af;
    border-style: none;
}
input {
    height: 24px;
}